.main {
    grid-template-columns: 1fr;
}

.box {
    background-color: var(--white);
    padding: 2.4em 3.6em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: min(100vw, 540px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-size: 1.1em;
    align-items: center;
}

.form .group {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-self: stretch;
}

.form button {
    font-size: 1.1em;
    border-radius: 40px;
    padding: 10px 24px;
    color: var(--white);
    background: linear-gradient(90deg, var(--primary), var(--secondary));
}

button.change {
    background: transparent;
    padding: 0 8px;
    text-decoration: underline;
    font-size: .9em;
}

.form :where(input:not(:disabled), textarea, select) {
    border-bottom-color: var(--primary);
}

.form :where(input:not(:disabled), textarea, select):focus {
    border-bottom-color: var(--secondary);
}