.navbar {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 1.4em;
    height: 100vh;
}

.logo {
    font-size: 2.8em;
    color: var(--text);
    margin-bottom: 1em;
    text-align: center;
}

.link,
.activelink,
.logout {
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding: 0.8em 1.2em;
    margin: 0 auto 1em;
    border-radius: 8px;
    max-width: 240px;
    width: 100%;
    color: var(--text-sec);
    font-size: 1.1em;
}

.activelink {
    color: var(--white);
    background: linear-gradient(90deg, var(--primary), var(--secondary));
}

.logout {
    color: var(--text);
}