.container {
    background-color: var(--white);
    padding: 2em;
    border-radius: 20px;
    width: min(100vw, 620px);
    margin: auto;
}

.container :where(input, textarea) {
    border: none;
}

.group {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    width: 100%;
}