.container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.container .task {
    background-color: var(--white);
    border-radius: 20px;
    max-width: 520px;
    box-shadow: rgba(17, 12, 46, 0.1) 0px 48px 100px 0px;
    animation: fade-up 400ms ease-out forwards;
}

@keyframes fade-up {
    from {
        transform: translateY(12px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.task :where(input, textarea, p) {
    background-color: transparent;
    border: none;
    color: var(--text-sec);
    text-transform: capitalize;
    padding: 0 16px;
}

.task input {
    color: var(--text);
    font-weight: 600;
}

.task form {
    gap: 0;
    position: relative;
}

.task p {
    font-size: .9em;
    padding: 0 0 0 12px;
    margin-bottom: 8px;
}

.group {
    justify-content: space-between;
    padding: 8px 8px 0 0;
    display: flex;
    width: 100%;
}