.container {
    background-color: var(--white);
    padding: 2em;
    border-radius: 20px;
    width: min(calc(100vw - 1em), 620px);
    margin: auto;
    animation: fade-grow 200ms ease-out forwards;
}

@keyframes fade-grow {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.group {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}